/**
 * 
 * @copyright Nitro Tech Asia Inc. 2020
 * 
 * @author hainguyen <hainguyen27798@gmail.com>
 *
 */

.header {
    background-color: #6c6c6c;
    height: 60px;
}

.account-group {
    img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
}