/**
 * 
 * @copyright Nitro Tech Asia Inc. 2020
 * 
 * @author hainguyen <hainguyen27798@gmail.com>
 *
 */

.login-form {
    box-shadow: 0 0 18px #888888;
    border-radius: 10px;
    padding: 30px 20px;
    width: 400px;
}
