<%- contentFor('content') %>
<%- include('layouts/menu-header') %>
<div class="container">
    <h1 class="text-center mb-5 mt-5">User Management</h1>
    <div class="navbar navbar-light bg-light justify-content-between align-items-center">
        <button class="btn btn-success" data-toggle="modal" data-target="#user-editor-dialog">Create User</button>
        <div class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Full Name</th>
                <th scope="col">Email</th>
                <th scope="col">Active</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>
    <div class="d-flex align-items-center justify-content-end">
        <div class="input-group choose-size">
            <select class="custom-select" onchange="chooseSize(this)">
                <option value="3">3</option>
                <option value="5">5</option>
                <option value="10">10</option>
            </select>
        </div>
        <ul class="pagination mb-0 ml-4">
            <li class="page-item pointer">
                <a class="page-link" onclick="previous()" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <div class="d-flex" id="pagination"></div>
            <li class="page-item pointer">
                <a class="page-link" onclick="next()" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </div>
    <%- include('dialogs/user-editor-dialog') %>
</div>

<script src="js/page/home.js"></script>
