<%- contentFor('content') %>
<div class="min-vh-100 d-flex justify-content-center align-items-center">
    <form action="/reset-password/send" method="post" class="login-form">
        <h3 class="size-22 font-weight-bolder text-center m-b-20">Reset Password</h3>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <div class="form-group">
            <label for="input-email" class="size-14 font-weight-bold">Email address</label>
            <input type="email" class="form-control" id="input-email" name="email" value="<%= get(content, 'email.value') %>" placeholder="name@example.com">
            <div class="text-danger"><%= get(content, 'email.msg') %></div>
        </div>
        <button class="btn btn-success m-b-30 w-100">Send Email</button>
        <div class="text-black-50 text-center">
            <a href="/login" class="text-primary">Sign in</a>
        </div>
    </form>
</div>
