<%- contentFor('content') %>
<div class="min-vh-100 d-flex justify-content-center align-items-center">
    <form method="post" class="login-form">
        <h3 class="size-22 font-weight-bolder text-center m-b-20">Verify Email</h3>
        <% if (errors) { %>
            <div class="alert-danger p-2 mb-3">
                <%= errors %>
            </div>
        <% } %>
        <div class="form-group">
            <label class="size-14 font-weight-bold">Email address</label>
            <div class="d-flex">
                <input type="email" class="form-control" id="input-email-verify" name="email" value="<%= email %>" placeholder="name@example.com">
                <button class="btn btn-secondary w-100 btn-send-code ml-3" type="button" onclick="sendVerifyToken()">Send</button>
            </div>
            <div class="text-danger" id="email-error"></div>
        </div>
        <div class="form-group">
            <label class="size-14 font-weight-bold">Code</label>
            <input type="text" class="form-control" id="input-code-token" placeholder="Abc123">
            <div class="text-danger" id="code-token-error"></div>
        </div>
        <button class="btn btn-success w-100 m-t-20" type="button" onclick="verifyHandle()">Verify</button>
    </form>
</div>

<script src="js/page/verify-email.js"></script>