<div class="header">
    <div class="container h-100 d-flex align-items-center justify-content-between">
        <ul class="nav size-22 text-white">
            <li>User Management</li>
        </ul>
        <div class="account-group">
            <a href="/web/logout" class="text-white">logout</a>
            <img src="images/avatar.jpg" class="ml-3" id="account-avatar">
        </div>
    </div>
</div>

<script src="js/components/get-account.js"></script>